header {
    color: black;
    text-align: center;
    background-color:red;
}
body {
    background-color: gainsboro;
}

h1 {
    color: red;
}


h2 {
    text-align: center;
    color: red;
}
p {
    font-size: 2em;
}
a {
    font-size: 2em;
}
